h1, h2, h3, h4, h5, h6  {
    font-family: 'franklin';
    text-align: center;
    vertical-align:middle;
}

h5 {
    font-size: 50px;
}

.button {
    text-align: center;
}

/* Barra de título */

.navbar-bar {
    text-align: center;
}

.navbar {
	background-color: #212529 !important;
}

a[style] {
	color: #fff !important;
    font-family: 'Inconsolata', helvetica, arial, sans-serif;
}

/* Fondo */

.bg-dark {
	background-color: #212529 !important;
}

.bg-white {
	background-color: white !important;
}

/* Carta */

.feed-page {
	padding-left: 25%;
    padding-right: 25%;
}

.card {
	margin-bottom: 35px;
    background-color: transparent;
    background-clip: border-box;
    content: '';
    border-top: 5px solid;
    border-image-slice: 1;
}

.card::before {
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.9)!important;
}

.card-header {
    background-color: rgb(255, 255, 255);
}

.card-title {
    font-family: "cheltenham";
    font-size: 35px;
    font-weight: bold;
    border-width: 0px;
}

.card-text {
    font-family: "imperial";
}

/* Botón para lectura*/

/* Día */
.btn-primary {
	background-color: #5d2f86 !important;
	border-color: #5d2f86 !important;
	color: rgb(255, 255, 255) !important;
    font-family: "Inconsolata";
}

/* Día, maybe noche */
.btn-info {
	background-color: #5d2f86 !important;
	border-color: #5d2f86 !important;
	color: rgb(255, 255, 255) !important;
    font-family: "Inconsolata";
}

/* Settings */

.card-subtitle.h6 {
    font-family: 'Inconsolata', monospace;
}

.home-page {
    margin-left: 350px;
	margin-right: 350px;
}

#name, #url {
    font-family: 'Inconsolata', monospace;
}

@media (max-width:1000px) {
    .feed-page {
        padding: 20px;
    }

    .home-page {
        margin-left: 20px;
        margin-right: 20px;
    }
    }