{{ define "main" }}
<div class="row flex-xl-nowrap mt-md-4 mt-auto">
  <main class="docs-content col-md-15 mx-auto pb-1">
    {{$docpage := .Site.GetPage "guias/pregrado"}}
    {{range $docpage.Sections }}
    <section class="section section-featured mt-4 mb-4 bg-light py-5 rounded-4 mb-2">
      <div class="container">
        <h2 class="h3 mt-0 text-center">{{ .Title }}</h2>
        <div class="row justify-content-center mt-3 g-3">
          {{range $pages := .Pages}}
          <div class="col-sm-8 col-md-6 col-xl-4">
            <div class="card h-100">
              <div class="card-body">
                <h3 class="h5 card-title my-2"><a class="card-link stretched-link text-dark text-decoration-none" href="{{ .RelPermalink }}">{{ .Params.title | title | truncate 25 }}</a></h3>
              </div>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </section>
    {{ end }}
    {{/*
    <h1 class="text-center">{{ .Title }}</h1>
    {{$docpage := .Site.GetPage "guias/pregrado"}}
    {{range $docpage.Sections}}
    <div class="semestre mb-5">
      <h3 class="text-center fw-normal mb-4">{{ .Title }}</h3>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        {{range $pages := .Pages}}
        <div class="col">
          <div class="card h-100">
            <div class="card-body ps-4 pe-4">
              <h5 class="card-title mt-2"><a class="card-link stretched-link text-dark text-decoration-none" href="{{ .RelPermalink }}">{{ .Params.title }}{{ with .Params.emoji -}}&nbsp;{{ . | emojify }}{{ end -}}</a></h5>
                <div class="row">
                  <div class="col">
                    <p class="card-text mb-2">{{ .Params.lead | safeHTML }}</p>
                  </div>
                </div>
                <div>
                  <small>
                    Prerrequisitos:
                    {{ if isset .Params "prerrequisites" }}
                      {{ if ( gt ( len .Params.prerrequisites ) 0 ) }}
                        {{ if .Params.prerrequisites -}}
                          {{ $id := string .Params.id }}
                          {{ $courses := .Site.Data.courses }}
                          {{ $coursesid := .Params.id }}
                          {{ $semester := string .Params.semester }}
                          {{ $prerrequisite := .Params.prerrequisites }}
                          {{ range (index $courses $coursesid) }}
                            {{ range . -}}
                              <a 
                                class="stretched-link position-relative" 
                                href="/guias/pregrado/{{ .semestre | urlize }}/{{ .codigo | urlize }}">
                                {{ .nombre -}}
                              </a>
                              {{ if gt (len $prerrequisite) 1 }}|{{ end -}}
                            {{ end }}
                          {{ end }}
                        {{ end -}}
                      {{ else }}
                      <a class="position-relative">Ninguno</a>
                      {{ end }}
                    {{ end }}
                  </small>
                </div>
            </div>
          </div>
        </div>
        {{end}}
        <small>
          {{ $data := .Site.Data.courses }}
        {{ range $data.prerrequisitos }}
            {{ $item := . }}
            {{ $item.CBO204 }}
        {{ end }}
        </small>
      </div>
    </div>
    {{end}}
    */}}

  </main>
</div>
{{ end }}