{{ define "main" }}
<div class="row flex-xl-nowrap mt-md-4 mt-auto">
  <main class="docs-content col-md-15 mx-auto pb-4">
    {{$docpage := .Site.GetPage "topicos"}}
    {{range $docpage.Sections }}
    <section class="section section-featured mt-4 mb-4 bg-light py-5 rounded-4 mb-2">
      <div class="container">
        <h2 class="h3 mt-0 text-center">{{ .Title }}</h2>
        <div class="row justify-content-center mt-3 g-3">
          {{range $pages := .Pages}}
          <div class="col-sm-8 col-md-6 col-xl-4">
            <div class="card">
              <div class="card-body">
                <h3 class="h5 card-title my-2"><a class="card-link stretched-link text-dark text-decoration-none" href="{{ .RelPermalink }}">{{ .Params.title | truncate 25 }}</a></h3>
              </div>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </section>
    {{ end }}
  </main>
</div>
{{/*
<div class="fullpage4 row flex-xl-nowrap">
  <main class="docs-content col-lg-11 mx-xl-auto">
    <h1 class="text-center">{{ .Title }}</h1>
    {{$docpage := .Site.GetPage "topicos"}}
    {{range $docpage.Sections}}
    <h3>{{ .Title }}</h3>
    <div class="row row-cols-1 row-cols-md-2 g-5">
      {{range .Pages}}
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title mt-2"><a class="card-link stretched-link text-dark text-decoration-none" href="{{ .RelPermalink }}">{{ .Params.title }}{{ with .Params.emoji -}}&nbsp;{{ . | emojify }}{{ end -}}</a></h5>
              <p class="card-text mb-2">{{ .Params.lead | safeHTML }}</p>
              <p class="card-text mt-2">
                <small>
                  <a class="stretched-link position-relative" href="{{ .Parent.RelPermalink }}">
                    {{ .Params.section }}
                  </a>
                </small>
              </p>
            </div>
          </div>
        </div>
      {{end}}
    </div>
    {{end}}
  </main>
 </div>
*/}}
{{ end }}