<div class="giscus-comments">
  <script src="https://giscus.app/client.js"
    data-repo="caefisica/discusion"
    data-repo-id="R_kgDOHDJn8w"
    data-category="General"
    data-category-id="DIC_kwDOHDJn884COOkv"
    data-mapping="title"
    data-reactions-enabled="1"
    data-emit-metadata="1"
    data-input-position="top"
    data-theme="preferred_color_scheme"
    data-lang="es"
    data-loading="lazy"
    crossorigin="anonymous"
    integrity="sha512-vm/f9r6MM8qOik8KvAze+iwXBw3c9Xp/QV054MTePyxZqSlxcfv7k1t/TeTjl+ygpO8DHNc6j8WsQwZ0ejZCwA=="
    async>
  </script>
</div>