<div class="giscus-comments">
  <script src="https://giscus.app/client.js"
    data-repo="caefis/discusion"
    data-repo-id="R_kgDOHDJn8w"
    data-category="General"
    data-category-id="DIC_kwDOHDJn884COOkv"
    data-mapping="title"
    data-reactions-enabled="1"
    data-emit-metadata="1"
    data-input-position="top"
    data-theme="preferred_color_scheme"
    data-lang="es"
    data-loading="lazy"
    crossorigin="anonymous"
    async
    integrity="sha512-OQhN7EN3O6Im4uJQVF+oWX78Bt3CoE8bFVyDrKY+m6jsQrWblDOt1RZH4ReKgPrQd8B9YknXRsxBDWexpuKEqQ==">
  </script>
</div>