<div class="giscus-comments">
  <script src="https://giscus.app/client.js"
    data-repo="caefis/discusion"
    data-repo-id="R_kgDOHDJn8w"
    data-category="General"
    data-category-id="DIC_kwDOHDJn884COOkv"
    data-mapping="title"
    data-reactions-enabled="1"
    data-emit-metadata="1"
    data-input-position="top"
    data-theme="preferred_color_scheme"
    data-lang="es"
    data-loading="lazy"
    crossorigin="anonymous"
    async
    integrity="sha512-pKSEhFMUPgvd9f+JEvQsZ1SA2Ci4o+JHfh+sMIOWu/fXgsRa8b7mf4aDNeOutvby5IcBi6kGeE2vgVBUtxG2TQ==">
  </script>
</div>