{{ $sass := resources.Get "scss/components/_socialmedia.scss" }}
{{ $style := $sass | resources.ToCSS | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}"> 

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css"/>
<script src="INSTA_FEED"></script>
<script src="/js/instafeed.min.js"></script>
<div class="contenedor">
<div id="instafeed" class="row instafeeds"></div>
</div>
{{ partial "components/socialbuttons.html" . -}}
<script type="text/javascript">
        var feed = new Instafeed({
            accessToken: InstagramToken
            , debug: true
        });
        feed.run();
</script>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>