<section class="section section-sm my-3 py-5 bg-light">
  <div class="container">
    <h2 class="h3 mt-0 text-center">{{ i18n "equipo" }}</h2>
    <div class="row justify-content-center g-4 mb-5">
      {{ $json := getJSON "data/authors/members.json" }}
      {{ range sort $json "data" "asc" }}
      <div class="col-14 col-sm-10 col-md-8 col-lg-6 col-xl-4">
        <div class="card h-100 text-center border-0 py-2">
          <div class="card-body px-0 pb-1 d-flex justify-content-center align-items-center"> 
            <div class="container">
              <div class="row p-2 align-items-center justify-content-center">
                <div id="{{ .first_name }}" class="miembro-cae"></div>
              </div>
              <div class="row p-2 align-items-center justify-content-center">
                <b>{{ .funcion }}</b>
                <p>{{ .name }}</p>
              </div>
            </div>
         </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>