<div class="cover_play d-none"></div>
<div class="player_container d-none">
  <button type="button" class="border-0" id="close-button">×</button>
  <div class="youtube_container">
    <div id="player">
    </div>
  </div>
</div>

<section class="section p-0">
  <div class="container banner d-flex justify-content-center align-items-center text-center">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-7 text-center text-lg-start">
        <!--div class="hero_footer-svg position-absolute">
          <img src="/images/shape/figure-svg.svg" alt="Textura a modo de adorno." />
        </div-->
        <h1 class="mb-4">Una guía para el estudio de las Ciencias Físicas</h1>
        <p class="lead mb-4">{{ .Params.Lead | safeHTML -}}</p>
        <form class="search-wrapper home-search" action="{{ `search` | relLangURL }}">
          <div id="docsearch"></div>
        </form>
        <p class="meta mt-3">Un proyecto del {{ .Site.Params.titleAddition }}</a></p>
      </div>
      <div class="col-lg-7 d-none d-lg-block">
        {{ with .Site.Data.fixes.frontpage -}}
        <div class="hero_figure position-relative ms-auto">
          <!--div class="figure-svg position-absolute">
            <img class="w-100 h-100" src="/images/shape/figure-svg.svg" alt="figure-svg" />
          </div-->
          <img class="img-hero-mask w-100 h-100" src="{{ .image | absURL }}" alt="{{ .image_alt | markdownify -}}" title="{{ .image_title | markdownify -}}"/>

          {{ if .videoURL -}}
          <div class="hero_figure-popup position-absolute">
            <div class="thumb position-relative overflow-hidden rounded-4">
              <img class="w-100 h-100" src="{{ .videoThumb -}}" alt="{{ .videoThumb_alt | markdownify -}}" title="{{ .videoThumb_title | markdownify -}}"/>
            </div>
            <a id="play-video" type="button" data-video-id="{{ .videoURL -}}" class="popup-button text-center big position-absolute rounded-circle" aria-label="Mirar video de Youtube" href="#">
              <svg class="position-absolute" xmlns="http://www.w3.org/2000/svg" width="21" height="24" viewBox="0 0 21 24">
                <path d="M17.961 10.264a2 2 0 010 3.473L2.992 22.29A2 2 0 010 20.554V3.446A2 2 0 012.992 1.71z"
                  data-name="Polygon 4" />
              </svg>
            </a>
          </div>
          {{ end -}}

        </div>
        {{ end -}}
      </div>
    </div>
  </div>
</section>