{{ define "main" }}
<div class="content">
  <div class="row justify-content-center">
    <div class="col-md-12 col-lg-10 col-xl-8">
      <article>
        <h1 class="text-center">{{ .Title }}</h1>
        <div class="text-center">
          <p>{{ .Params.description }}</p>
        </div>
        <form id="add-feed-form" class="row gx-2 gy-3 d-flex align-items-end" name="add-rss-feed" method="post">
          <div class="col-10">
            <input
              name="feed-url"
              type="url"
              id="feed-url"
              class="form-control name"
              placeholder="Enlace a un feed RSS"
              aria-label="Enlace a un feed RSS"
              required
            />
          </div>
          <div class="col-6">
            <button
              type="submit"
              class="btn btn-primary w-100 button-email mt-0"
              aria-label="Add Feed"
            >
              Añadir Feed
            </button>
          </div>
        </form>        
        
        <div class="card-list" id="feed-container"></div>
      </article>
    </div>
  </div>
</div>

{{ $rss_reader := resources.Get "js/rss_reader.js" | resources.Fingerprint -}}
<script src="{{ $rss_reader.RelPermalink }}" integrity="{{ $rss_reader.Data.Integrity }}" defer></script>

{{ end }}