{{ define "main" }}

{{ $sass := resources.Get "scss/components/pages/_nosotros.scss" }}
{{ $style := $sass | resources.ToCSS | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}"> 
<main class="mt-5 mb-5">

  <!--- #BARRA-->

  <aside class="sidebar" data-sidebar>

    <div class="sidebar-info">

      <figure class="avatar-box">
        <img src="/logo-cae.png" alt="Logo del CAE" width="80">
      </figure>

      <div class="info-content">
        <h1 class="h1 name text-wrap" title="{{ .Title | safeHTML }}">{{ .Title }}</h1>

        <p class="title">CAE - Física</p>
      </div>

      <button class="info_more-btn" data-sidebar-btn>
        <span>Más información</span>

        <ion-icon name="chevron-down"></ion-icon>
      </button>

    </div>

    <div class="sidebar-info_more">

      <div class="separator"></div>

      <ul class="contacts-list">

        <li class="contact-item">

          <div class="icon-box">
            <ion-icon name="calendar-outline"></ion-icon>
          </div>

          <div class="contact-info">
            <p class="contact-title">Fundación</p>

            <time datetime="1982-06-23">01 de enero del 2016</time>
          </div>

        </li>

        <li class="contact-item">

          <div class="icon-box">
            <ion-icon name="mail-outline"></ion-icon>
          </div>

          <div class="contact-info">
            <p class="contact-title">Mesa directiva</p>

            <a href="mailto:cae@cae.anonaddy.com" class="contact-link">cae@cae.anonaddy.com</a>
          </div>

        </li>

        <li class="contact-item">

          <div class="icon-box">
            <ion-icon name="mail-outline"></ion-icon>
          </div>

          <div class="contact-info">
            <p class="contact-title">Desarrollador</p>

            <a href="mailto:dev@cae.anonaddy.com" class="contact-link">dev@cae.anonaddy.com</a>
          </div>

        </li>

        <li class="contact-item">

          <div class="icon-box">
            <ion-icon name="location-outline"></ion-icon>
          </div>

          <div class="contact-info">
            <p class="contact-title">Ubicación</p>

            <address>Cercado de Lima, 15088</address>
          </div>

        </li>

      </ul>

      <div class="separator"></div>

      <ul class="social-list">

        <li class="social-item">
          <a href="https://www.facebook.com/caefisica" class="social-link">
            <ion-icon name="logo-facebook"></ion-icon>
          </a>
        </li>

        <li class="social-item">
          <a href="https://www.twitter.com/caefisica" class="social-link">
            <ion-icon name="logo-twitter"></ion-icon>
          </a>
        </li>

        <li class="social-item">
          <a href="https://www.instagram.com/caefisica" class="social-link">
            <ion-icon name="logo-instagram"></ion-icon>
          </a>
        </li>

      </ul>

    </div>

  </aside>

  <!--
    - #CONTENIDO
  -->

  <div class="main-content">

    <!--
      - #NAVBAR
    -->

    <nav class="navbar nosotros">

      <ul class="navbar-list">

        <li class="navbar-item">
          <button class="navbar-link  active" data-nav-link>Acerca</button>
        </li>

        <li class="navbar-item">
          <button class="navbar-link" data-nav-link>Historia</button>
        </li>

        <li class="navbar-item">
          <button class="navbar-link" data-nav-link>Proyectos</button>
        </li>

      </ul>

    </nav>

    <!--
      - #NOSOTROS
    -->

    <article class="acerca  active" data-page="acerca">

      <header>
        <h2 class="h2 article-title">Nosotros</h2>
      </header>

      <section class="about-text">
        {{ partial "main/headline-hash.html" .Content }}
      </section>

      <!--
        - service
      -->

      <section class="service">

        <h3 class="h3 service-title">¿Qué estamos haciendo?</h3>

        <ul class="service-list">

          <li class="service-item">

            <div class="service-icon-box">
              <img src="/images/icon/icon-design-2.svg
              " alt="design icon" width="40">
            </div>

            <div class="service-content-box">
              <h4 class="h4 service-item-title">Redes sociales</h4>

              <p class="service-item-text">
                Difundimos información académica y contenido divulgativo en Facebook, Instagram y Twitter.
              </p>
            </div>

          </li>

          <li class="service-item">

            <div class="service-icon-box">
              <img src="/images/icon/icon-dev-2.svg" alt="Web development icon" width="40">
            </div>

            <div class="service-content-box">
              <h4 class="h4 service-item-title">Página web</h4>

              <p class="service-item-text">
                Repositorio de guías y documentos relacionados al estudio de las ciencias físicas.
              </p>
            </div>

          </li>

        </ul>

      </section>


      <!--
        - Miembros
      -->

      <section class="testimonials">

        <h3 class="h3 testimonials-title">Miembros actuales</h3>

        <ul class="testimonials-list has-scrollbar">
          {{ $json := getJSON "data/authors/members.json" }}
          {{ range sort $json "data" "asc" }}
          <li class="testimonials-item">
            <div class="content-card" data-testimonials-item>

              <figure class="testimonials-avatar-box">
                <img src="/images/avatar/main.png" alt="{{ .name }}" width="60" data-testimonials-avatar>
              </figure>

              <h4 class="h4 testimonials-item-title" data-testimonials-title>{{ .name }}</h4>

              <div class="testimonials-text" data-testimonials-text>
                <p>
                  {{ .description }}
                </p>
              </div>

            </div>
          </li>
          {{ end }}
        </ul>

      </section>


      <!--
        - Anteriores miembros
      -->

      <div class="modal-container" data-modal-container>

        <div class="overlay" data-overlay></div>

        <section class="testimonials-modal">

          <button class="modal-close-btn" data-modal-close-btn>
            <ion-icon name="close-outline"></ion-icon>
          </button>

          <div class="modal-img-wrapper">
            <figure class="modal-avatar-box">
              <img src="/images/avatar/1.png" alt="Daniel lewis" width="80" data-modal-img>
            </figure>

            <img src="/images/icon/icon-quote.svg" alt="quote icon">
          </div>

          <div class="modal-content">

            <h4 class="h3 modal-title" data-modal-title>Daniel lewis</h4>

            <time datetime="2021-06-14">14 June, 2021</time>

            <div data-modal-text>
              <p>
                Richard was hired to create a corporate identity. We were very pleased with the work done. She has a
                lot of experience
                and is very concerned about the needs of client. Lorem ipsum dolor sit amet, ullamcous cididt
                consectetur adipiscing
                elit, seds do et eiusmod tempor incididunt ut laborels dolore magnarels alia.
              </p>
            </div>

          </div>

        </section>

      </div>

              <!--
        - testimonials
      -->

      <section class="testimonials">

        <h3 class="h3 testimonials-title">Miembros anteriores</h3>

        <ul class="testimonials-list has-scrollbar">

          <li class="testimonials-item">
            <div class="content-card" data-testimonials-item>

              <figure class="testimonials-avatar-box">
                <img src="/images/avatar/main.png" alt="Sergio" width="60" data-testimonials-avatar>
              </figure>

              <h4 class="h4 testimonials-item-title" data-testimonials-title>Renzo Franco</h4>

              <div class="testimonials-text" data-testimonials-text>
                <p>
                  Estudiante egresado de la carrera de física.
                </p>
              </div>

            </div>
          </li>

          <li class="testimonials-item">
            <div class="content-card" data-testimonials-item>

              <figure class="testimonials-avatar-box">
                <img src="/images/avatar/main.png" alt="Renzo" width="60" data-testimonials-avatar>
              </figure>

              <h4 class="h4 testimonials-item-title" data-testimonials-title>David Hinostroza</h4>

              <div class="testimonials-text" data-testimonials-text>
                <p>
                  Estudiante egresado de la carrera de física.
                </p>
              </div>

            </div>
          </li>

        </ul>

      </section>

    </article>

    <!--
      - #HISTORIA
    -->

    <article class="historia" data-page="historia">

      <header>
        <h2 class="h2 article-title">Historia</h2>
      </header>

      <section class="timeline">

        <div class="title-wrapper">
          <div class="icon-box">
            <ion-icon name="calendar-outline"></ion-icon>
          </div>
          <h3 class="h3">Primera etapa</h3>
        </div>

        <ol class="timeline-list">

          <li class="timeline-item">
            <h4 class="h4 timeline-item-title">Fundación</h4>
            <span>2016</span>
            <p class="timeline-text">
              Nemo enims ipsam voluptatem, blanditiis praesentium voluptum delenit atque corrupti, 
              quos dolores et quas molestias exceptur.
            </p>
          </li>

          <li class="timeline-item">
            <h4 class="h4 timeline-item-title">Biblioteca</h4>
            <span>2016</span>
            <p class="timeline-text">
              Nemo enims ipsam voluptatem, blanditiis praesentium voluptum delenit atque corrupti, 
              quos dolores et quas molestias exceptur.
            </p>
          </li>

          <li class="timeline-item">
            <h4 class="h4 timeline-item-title">Creación de la página de Facebook</h4>
            <span>2020</span>
            <p class="timeline-text">
              Nemo enims ipsam voluptatem, blanditiis praesentium voluptum delenit atque corrupti, 
              quos dolores et quas molestias exceptur.
            </p>
          </li>
          
          <li class="timeline-item">
            <h4 class="h4 timeline-item-title">Podcast</h4>
            <span>2020</span>
            <p class="timeline-text">
              Nemo enims ipsam voluptatem, blanditiis praesentium voluptum delenit atque corrupti, 
              quos dolores et quas molestias exceptur.
            </p>
          </li>

          <li class="timeline-item">
            <h4 class="h4 timeline-item-title">Convocatoria 2020-I</h4>
            <span>2020</span>
            <p class="timeline-text">
              Incorporación de Sergio Cordero y David Durán.
            </p>
          </li>

        </ol>

      </section>

      <section class="timeline">

        <div class="title-wrapper">
          <div class="icon-box">
            <ion-icon name="calendar-outline"></ion-icon>
          </div>
          <h3 class="h3">Segunda etapa</h3>
        </div>

        <ol class="timeline-list">

          <li class="timeline-item">
            <h4 class="h4 timeline-item-title">Cambios en la Mesa Directiva</h4>
            <span>2022</span>
            <p class="timeline-text">
              Nemo enim ipsam voluptatem blanditiis praesentium voluptum delenit atque corrupti, 
              quos dolores et qvuas molestias exceptur.
            </p>
          </li>

          <li class="timeline-item">
            <h4 class="h4 timeline-item-title">Convocatoria 2021-I</h4>
            <span>2022</span>
            <p class="timeline-text">
              Incorporación de Andrea Palacios (redes sociales), Liuba Ramos (redes sociales), 
              David Salles (mantenimiento de la biblioteca) y Richard Avalos (redacción).
            </p>
          </li>

          <li class="timeline-item">
            <h4 class="h4 timeline-item-title">Desarrollo de la página web</h4>
            <span>2022-actualidad</span>
            <p class="timeline-text">
              Nemo enim ipsam voluptatem blanditiis praesentium voluptum delenit atque corrupti, 
              quos dolores et qvuas molestias exceptur.
            </p>
          </li>

          <li class="timeline-item">
            <h4 class="h4 timeline-item-title">Cursos de verano</h4>
            <span>2022</span>
            <p class="timeline-text">
              Nemo enim ipsam voluptatem blanditiis praesentium voluptum delenit atque corrupti, 
              quos dolores et qvuas molestias exceptur.
            </p>
          </li>

          <li class="timeline-item">
            <h4 class="h4 timeline-item-title">Creación de las cuentas de Instagram y Twitter</h4>
            <span>2022-actualidad</span>
            <p class="timeline-text">
              Nemo enim ipsam voluptatem blanditiis praesentium voluptum delenit atque corrupti, 
              quos dolores et qvuas molestias exceptur.
            </p>
          </li>

        </ol>

      </section>

      <section class="timeline">

        <div class="title-wrapper">
          <div class="icon-box">
            <ion-icon name="calendar-outline"></ion-icon>
          </div>
          <h3 class="h3">Etapa futura</h3>
        </div>

        <ol class="timeline-list">

          <li class="timeline-item">
            <h4 class="h4 timeline-item-title">Oficialización del CAE</h4>
            <span>2023</span>
            <p class="timeline-text">
              Nemo enim ipsam voluptatem blanditiis praesentium voluptum delenit atque corrupti, 
              quos dolores et qvuas molestias exceptur.
            </p>
          </li>

          <li class="timeline-item">
            <h4 class="h4 timeline-item-title">Convocatoria 2022-II</h4>
            <span>2022</span>
            <p class="timeline-text">
              Nemo enim ipsam voluptatem blanditiis praesentium voluptum delenit atque corrupti, quos dolores et qvuas
              molestias
              exceptur.
            </p>
          </li>

          <li class="timeline-item">
            <h4 class="h4 timeline-item-title">Convocatoria 2023-I</h4>
            <span>2023</span>
            <p class="timeline-text">
              Nemo enim ipsam voluptatem blanditiis praesentium voluptum delenit atque corrupti, quos dolores et qvuas
              molestias
              exceptur.
            </p>
          </li>

        </ol>

      </section>

    </article>

    <!--
      - #PROYECTOS
    -->

    <article class="proyectos" data-page="proyectos">

      <header>
        <h2 class="h2 article-title">Proyectos</h2>
      </header>

      <section class="skill">

        <h3 class="h3 skills-title">Avances</h3>

        <ul class="skills-list content-card">

          <li class="skills-item">

            <div class="title-wrapper">
              <h5 class="h5">Wikilinks</h5>
              <data value="35">35%</data>
            </div>

            <div class="skill-progress-bg">
              <div class="skill-progress-fill" style="width: 35%;"></div>
            </div>

          </li>

          <li class="skills-item">

            <div class="title-wrapper">
              <h5 class="h5">Página web</h5>
              <data value="80">80%</data>
            </div>

            <div class="skill-progress-bg">
              <div class="skill-progress-fill" style="width: 80%;"></div>
            </div>

          </li>

          <li class="skills-item">

            <div class="title-wrapper">
              <h5 class="h5">Redes sociales</h5>
              <data value="50">50%</data>
            </div>

            <div class="skill-progress-bg">
              <div class="skill-progress-fill" style="width: 50%;"></div>
            </div>

          </li>

        </ul>

      </section>

      <br><br>

      <section class="projects">

        <ul class="filter-list">

          <li class="filter-item">
            <button class="active" data-filter-btn>Todo</button>
          </li>

          <li class="filter-item">
            <button data-filter-btn>Página web</button>
          </li>

          <li class="filter-item">
            <button data-filter-btn>Redes sociales</button>
          </li>

        </ul>

        <div class="filter-select-box">

          <button class="filter-select" data-select>

            <div class="select-value" data-selecct-value>Selecciona una categoría</div>

            <div class="select-icon">
              <ion-icon name="chevron-down"></ion-icon>
            </div>

          </button>

          <ul class="select-list">

            <li class="select-item">
              <button data-select-item>Todo</button>
            </li>

            <li class="select-item">
              <button data-select-item>Página web</button>
            </li>

            <li class="select-item">
              <button data-select-item>Redes sociales</button>
            </li>

          </ul>

        </div>

        <ul class="project-list">

          <li class="project-item  active" data-filter-item data-category="redes sociales">
            <a href="https://www.facebook.com/caefisica">

              <figure class="project-img">
                <div class="project-item-icon-box">
                  <ion-icon name="eye-outline"></ion-icon>
                </div>

                <img src="/images/thumbnail/3.jpg" alt="arrival" loading="lazy">
              </figure>

              <h3 class="project-title">Facebook</h3>

              <p class="project-category">Redes sociales</p>

            </a>
          </li>

          <li class="project-item  active" data-filter-item data-category="redes sociales">
            <a href="https://www.instagram.com/caefisica">

              <figure class="project-img">
                <div class="project-item-icon-box">
                  <ion-icon name="eye-outline"></ion-icon>
                </div>

                <img src="/images/thumbnail/3.jpg" alt="arrival" loading="lazy">
              </figure>

              <h3 class="project-title">Instagram</h3>

              <p class="project-category">Redes sociales</p>

            </a>
          </li>

          <li class="project-item  active" data-filter-item data-category="redes sociales">
            <a href="https://www.twitter.com/caefisica">

              <figure class="project-img">
                <div class="project-item-icon-box">
                  <ion-icon name="eye-outline"></ion-icon>
                </div>

                <img src="/images/thumbnail/3.jpg" alt="arrival" loading="lazy">
              </figure>

              <h3 class="project-title">Twitter</h3>

              <p class="project-category">Redes sociales</p>

            </a>
          </li>

          <li class="project-item  active" data-filter-item data-category="página web">
            <a href="https://caefis.netlify.app/guías/semestre/">

              <figure class="project-img">
                <div class="project-item-icon-box">
                  <ion-icon name="eye-outline"></ion-icon>
                </div>

                <img src="/images/thumbnail/5.jpg" alt="arrival" loading="lazy">
              </figure>

              <h3 class="project-title">Wikilinks</h3>

              <p class="project-category">página web</p>

            </a>
          </li>

          <li class="project-item  active" data-filter-item data-category="página web">
            <a href="https://caefis.netlify.app/rss/">

              <figure class="project-img">
                <div class="project-item-icon-box">
                  <ion-icon name="eye-outline"></ion-icon>
                </div>

                <img src="/images/thumbnail/5.jpg" alt="arrival" loading="lazy">
              </figure>

              <h3 class="project-title">Noticias</h3>

              <p class="project-category">página web</p>

            </a>
          </li>

          <li class="project-item  active" data-filter-item data-category="página web">
            <a href="https://caefis.netlify.app/experimental/">

              <figure class="project-img">
                <div class="project-item-icon-box">
                  <ion-icon name="eye-outline"></ion-icon>
                </div>

                <img src="/images/thumbnail/5.jpg" alt="arrival" loading="lazy">
              </figure>

              <h3 class="project-title">Artículos</h3>

              <p class="project-category">página web</p>

            </a>
          </li>

        </ul>

      </section>

    </article>

  </div>

</main>

<!--
  - custom js link
-->
<script src="/js/pages/_nosotros.js"></script>

<!--
  - ionicon link
-->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js" integrity="sha512-Ta7m7CSVtknH4g6MRSsaidvmIUYVte91DzEgKSEPZDpaVVTyXLaIPGBRSFCRRLwVsyDFCzrp8+70L5RcHz46fw==" crossorigin="anonymous"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js" integrity="sha512-A0szvdIuCKA21xigr2/288rv04z5w6cH/GETcSny1t222OlOShgazYLkYIMUH6yAan2CxMeKkNwbmUuLqbnsBQ==" crossorigin="anonymous"></script>

{{ end }}