<!-- Auto collapsible section menu -->
<ul class="list-unstyled collapsible-sidebar">
    {{ $currentPage := . -}}
    {{ $section := $currentPage.Section -}}
    {{ range (where .Site.Sections "Section" "in" $section) }}
        {{ range .Sections }}
            {{ $active := in $currentPage.RelPermalink .RelPermalink }}
            {{ $collapseID := printf "section-%s" (md5 .RelPermalink) -}}
            <li class="mb-1">
                <button
                    class="btn btn-toggle align-items-center rounded collapsed"
                    data-bs-toggle="collapse"
                    data-bs-target="#{{ $collapseID }}"
                    aria-expanded="{{ if $active }}true{{ else }}false{{ end }}">
                    {{ .Title }}
                </button>
                <div
                    class="collapse{{ if $active }} show{{ end }}"
                    id="{{ $collapseID }}">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        {{ partial "sidebar/render-auto-menu-items.html" (dict
                            "currentPage" $currentPage
                            "mode" "collapsible"
                            "pages" .Pages
                        ) }}
                    </ul>
                </div>
            </li>
        {{ end }}
    {{ end }}
</ul>
