<!-- Auto default section menu -->
{{ $currentPage := . -}}
{{ $section := $currentPage.Section -}}
{{ range (where .Site.Sections "Section" "in" $section) }}
    {{ range .Sections }}
        <h3 class="h6 text-uppercase mb-2">{{ .Title }}</h3>
        <ul class="list-unstyled">
            {{ partial "sidebar/render-auto-menu-items.html" (dict
                "currentPage" $currentPage
                "mode" "default"
                "pages" .Pages
            ) }}
        </ul>
    {{ end }}
{{ end }}
