{{ $currentPage := .currentPage -}}
{{ $pages := .pages -}}
{{ $mode := .mode -}}
{{ $level := .level | default 0 -}}

{{ range $pages -}}
    {{ $active := in $currentPage.RelPermalink .RelPermalink -}}
    {{ if .IsNode -}}
        {{ if eq $mode "collapsible" -}}
            {{ $collapseID := printf "section-%s" (md5 .RelPermalink) -}}
            <li class="my-1{{ if gt $level 0 }} ms-3{{ end }}">
                <button
                    class="btn btn-toggle align-items-center rounded collapsed"
                    data-bs-toggle="collapse"
                    data-bs-target="#{{ $collapseID }}"
                    aria-expanded="{{ if $active }}true{{ else }}false{{ end }}">
                    {{ .Title }}
                </button>
                <div class="collapse{{ if $active }} show{{ end }}" id="{{ $collapseID }}">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        {{ partial "sidebar/render-auto-menu-items.html" (dict
                            "currentPage" $currentPage
                            "level" (add $level 1)
                            "mode" $mode
                            "pages" .Pages
                        ) }}
                    </ul>
                </div>
            </li>
        {{ else -}}
            {{ $headingLevel := add $level 4 -}}
            {{ $headingTag := printf "h%d" $headingLevel -}}
            <{{ $headingTag }} class="h6 text-uppercase{{ if gt $level 0 }} ms-3{{ end }} mt-3 mb-2">
                {{ .Title }}
            </{{ $headingTag }}>
            <ul class="list-unstyled{{ if gt $level 0 }} ms-3{{ end }}">
                {{ partial "sidebar/render-auto-menu-items.html" (dict
                    "currentPage" $currentPage
                    "level" (add $level 1)
                    "mode" $mode
                    "pages" .Pages
                ) }}
            </ul>
        {{ end -}}
    {{ else -}}
        <li>
            <a
                class="docs-link{{ if eq $mode "collapsible" }} rounded{{ end }}{{ if $active }} active{{ end }}"
                href="{{ .RelPermalink }}">
                {{ if eq $mode "collapsible" }}{{ .Title }}{{ else }}{{ .Name }}{{ end }}
            </a>
        </li>
    {{ end -}}
{{ end -}}
