<link rel="preload" href="{{ "css/katex.min.css" | relURL }}" as="style">
  <link rel="stylesheet" href="{{ "css/katex.min.css" | relURL }}"/>
  <link rel="preload" href="{{ "js/math/katex.min.js" | relURL }}" as="script">
  <link rel="preload" href="{{ "js/math/auto-render.min.js" | relURL }}" as="script">
  <link rel="preload" href="{{ "js/math/katex.js" | relURL }}" as="script">
  <script defer src="{{ "js/math/katex.min.js" | relURL }}"></script>
  <script defer src="{{ "js/math/auto-render.min.js" | relURL }}" onload="renderMathInElement(document.body);"></script>
  <script src="{{ "js/math/katex.js" | relURL }}" type="text/javascript"></script>