<script src="{{ "js/quiz/quizdown.js" | relURL }}" type="text/javascript" nonce="dXNlcj0iaGVsbG8iLGRvbWFpbj0iaGVua3ZlcmxpbmRlLmNvbSIsZG9jdW1lbnQud3JpdGUodXNlcisiQCIrZG9tYWluKTs="></script>
<script src="{{ "js/quiz/quizdownKatex.js" | relURL }}" type="text/javascript"></script>
<script src="{{ "js/quiz/quizdownHighlight.js" | relURL }}" type="text/javascript"></script>
<script src="{{ "js/quiz/quiz.js" | relURL }}" type="text/javascript"></script>
<!--https://cdn.jsdelivr.net/npm/quizdown@latest/public/build/-->