<!--https://cdn.jsdelivr.net/npm/quizdown@latest/public/build/-->
  <link rel="preload" href="{{ "js/quiz/quizdown.js" | relURL }}" as="script">
  <link rel="preload" href="{{ "js/quiz/quizdownKatex.js" | relURL }}" as="script">
  <link rel="preload" href="{{ "js/quiz/quizdownHighlight.js" | relURL }}" as="script">
  <link rel="preload" href="{{ "js/quiz/quiz.js" | relURL }}" as="script">
  <script src="{{ "js/quiz/quizdown.js" | relURL }}" type="text/javascript"></script>
  <script src="{{ "js/quiz/quizdownKatex.js" | relURL }}" type="text/javascript"></script>
  <script src="{{ "js/quiz/quizdownHighlight.js" | relURL }}" type="text/javascript"></script>
  <script src="{{ "js/quiz/quiz.js" | relURL }}" type="text/javascript"></script>