<link rel="preload" as="font" href="{{ "fonts/vendor/jost/jost-v4-latin-regular.woff2" | absURL }}" type="font/woff2" crossorigin>
<link rel="preload" as="font" href="{{ "fonts/vendor/jost/jost-v4-latin-700.woff2" | absURL }}" type="font/woff2" crossorigin>
<link rel="preconnect" href="https://plausible.io">
<link rel="preconnect" href="https://B36UGT1YWJ-dsn.algolia.net" crossorigin>
{{ if .Params.math }}
<link rel="preload" href="{{ "css/katex.min.css" | relURL }}" as="style">
<link rel="preload" href="{{ "js/components/math/katex.min.js" | relURL }}" as="script">
<link rel="preload" href="{{ "js/components/math/auto-render.min.js" | relURL }}" as="script">
<link rel="preload" href="{{ "js/components/math/katex.js" | relURL }}" as="script">
{{ end }}