<p class="published_data mt-1">
    <small
        >Publicado el {{ .Lastmod.Day }} de
        {{ index $.Site.Data.fixes.months (printf "%d" .Lastmod.Month) }}<span
            class="special_display"
        >
            por
            {{ $authors := .Params.contributors }}
            {{ $authors := apply $authors "partial" "components/urlize" "." }}
            {{ if eq ( len $authors ) 2 -}}
                {{ delimit $authors " y " | safeHTML }}
            {{ else }}
                {{ delimit $authors ", " " y " | safeHTML }}
            {{ end -}} </span
        >&nbsp;&hyphen;&nbsp;<strong
            >{{ .ReadingTime -}}&nbsp;min. de lectura</strong
        ></small
    >
</p>

<p></p>
