<p class="published_data mt-1"><small>Publicado el {{ dateFormat "2 de January del 2006" .Date }}<span class="special_display"> por {{ $authors := .Params.contributors }}
    {{ $authors := apply $authors "partial" "components/urlize" "."}}
    {{ if eq ( len $authors ) 2 -}}
      {{ delimit $authors " y " | safeHTML }}
    {{ else }}
      {{ delimit $authors ", " " y " | safeHTML }}
    {{ end -}}
</span>&nbsp;&hyphen;&nbsp;<strong>{{ .ReadingTime -}}&nbsp;min. de lectura</strong></small><p></p>