<section class="section section-sm my-3 py-5 bg-light">
  <div class="container">
    <h2 class="h3 mt-0 text-center">Miembros activos</h2>
    <div class="row justify-content-center g-4 mb-5">
      <div class="col-14 col-sm-10 col-md-8 col-lg-6 col-xl-4">
        <div class="card h-100 text-center border-0 py-2">
          <div class="card-body px-0 pb-1 d-flex justify-content-center align-items-center">
            <div class="container">
              <div class="row p-2 align-items-center justify-content-center">
                <a href="/contributors/sergio/">
                  <img src="https://i.imgur.com/AOZyD5J.png" alt="Sergio" height="85px">
                </a>
              </div>
              <div class="row p-2 align-items-center justify-content-center">
                <b>Subcoordinador</b>
                <p>Sergio Cordero</p>
              </div>
            </div>
         </div>
        </div>
      </div>
      <div class="col-14 col-sm-10 col-md-8 col-lg-6 col-xl-4">
        <div class="card h-100 text-center border-0 py-2">
          <div class="card-body px-0 pb-1 d-flex justify-content-center align-items-center"> 
            <div class="container">
              <div class="row p-2 align-items-center justify-content-center">
                <a href="/contributors/francesco/">
                  <img src="https://i.imgur.com/uWHB5Dw.png" alt="Francesco" height="85px">
                </a>
              </div>
              <div class="row p-2 align-items-center justify-content-center">
                <b>Secretario</b>
                <p>Francesco Antinori</p>
              </div>
            </div>
         </div>
        </div>
      </div>
      <div class="col-14 col-sm-10 col-md-8 col-lg-6 col-xl-4">
        <div class="card h-100 text-center border-0 py-2">
          <div class="card-body px-0 pb-1 d-flex justify-content-center align-items-center">
            <div class="container">
              <div class="row p-2 align-items-center justify-content-center">
                <a href="/contributors/david/">
                  <img src="https://i.imgur.com/Xs5kval.png" alt="David" height="85px">
                </a>
              </div>
              <div class="row p-2 align-items-center justify-content-center">
                <b>Programación</b>
                <p>David Durán</p>
              </div>
            </div>
         </div>
        </div>
      </div>
      <div class="col-14 col-sm-10 col-md-8 col-lg-6 col-xl-4">
        <div class="card h-100 text-center border-0 py-2">
          <div class="card-body px-0 pb-1 d-flex justify-content-center align-items-center">
            <div class="container">
              <div class="row p-2 align-items-center justify-content-center">
                <a href="/contributors/alvaro/">
                  <img src="https://i.imgur.com/pcH8nLN.png" alt="Alvaro" height="85px">
                </a>
              </div>
              <div class="row p-2 align-items-center justify-content-center">
                <b>Asuntos académicos</b>
                <p>Alvaro Siesquen</p>
              </div>
            </div>
         </div>
        </div>
      </div>
      <div class="col-14 col-sm-10 col-md-8 col-lg-6 col-xl-4">
        <div class="card h-100 text-center border-0 py-2">
          <div class="card-body px-0 pb-1 d-flex justify-content-center align-items-center">
            <div class="container">
              <div class="row p-2 align-items-center justify-content-center">
                <a href="/contributors/richard/">
                  <img src="https://i.imgur.com/YlVBow3.png" alt="Richard" height="85px">
                </a>
              </div>
              <div class="row p-2 align-items-center justify-content-center">
                <b>Edición</b>
                <p>José Ávalos</p>
              </div>
            </div>
         </div>
        </div>
      </div>
      <div class="col-14 col-sm-10 col-md-8 col-lg-6 col-xl-4">
        <div class="card h-100 text-center border-0 py-2">
          <div class="card-body px-0 pb-1 d-flex justify-content-center align-items-center">
            <div class="container">
              <div class="row p-2 align-items-center justify-content-center">
                <a href="/contributors/andrea/">
                  <img src="https://i.imgur.com/t4ITiyk.png" alt="Andrea" height="85px">
                </a>
              </div>
              <div class="row p-2 align-items-center justify-content-center">
                <b>Edición</b>
                <p>Andrea Palacios</p>
              </div>
            </div>
         </div>
        </div>
      </div>
      <div class="col-14 col-sm-10 col-md-8 col-lg-6 col-xl-4">
        <div class="card h-100 text-center border-0 py-2">
          <div class="card-body px-0 pb-1 d-flex justify-content-center align-items-center">
            <div class="container">
              <div class="row p-2 align-items-center justify-content-center">
                <a href="/contributors/salles/">
                  <img src="https://i.imgur.com/mT9Q82G.png" alt="David Salles" height="85px">
                </a>
              </div>
              <div class="row p-2 align-items-center justify-content-center">
                <b>Colaborador</b>
                <p>David Salles</p>
              </div>
            </div>
         </div>
        </div>
      </div>
      <div class="col-14 col-sm-10 col-md-8 col-lg-6 col-xl-4">
        <div class="card h-100 text-center border-0 py-2">
          <div class="card-body px-0 pb-1 d-flex justify-content-center align-items-center">
            <div class="container">
              <div class="row p-2 align-items-center justify-content-center">
                <a href="/contributors/angelina/">
                  <img src="https://i.imgur.com/ipO5HKy.png" alt="Angelina" height="85px">
                </a>
              </div>
              <div class="row p-2 align-items-center justify-content-center">
                <b>Ilustración</b>
                <p>Angelina Perrona</p>
              </div>
            </div>
         </div>
        </div>
      </div>
    </div>
  </div>
</section>