:root,
[data-theme="light"] {
  --background-color: #fff;
  --primary-foreground-color: #4a4a4a;
  --secondary-foreground-color: #000;
  --primary-subtle-color: #0470ee;
  --secondary-subtle-color: #f4f8fd;
  --titles-color: #333;
  --link-color: #133467;
  --secondary-border-color: aliceblue;
  --article-shadow-normal: 0 10px 10px rgba(0, 0, 0, 0.08);
  --article-shadow-hover: 0 4px 60px 0 rgba(0, 0, 0, 0.2);
  --transparent-background-color: rgba(255, 255, 255, 0.99);
  --button-shadow-color-normal: rgba(108, 108, 108, 0.2);
  --button-shadow-color-hover: rgba(108, 108, 108, 0.3);
}

[data-theme="dark"] {
  --primary-subtle-color: #2c2fe6;
  --secondary-subtle-color: #141920;
  --titles-color: #b4b4b4;
  --link-color: #b6b7f6;
  --secondary-border-color: #0f0f0f;
  --article-shadow-normal: 0 4px 5px 5px rgba(0, 0, 0, 0.1);
  --article-shadow-hover: 0 4px 5px 10px rgba(0, 0, 0, 0.1);
}

$white: #fff;
$black: #212529;

/** Config  */

$mobile-space: 20px;

/** Mixins */

$break-small: 35.5rem; // >= 568px @ 16px
$break-medium: 48rem; // >= 768px @ 16px
$break-large: 64rem; // >= 1024px @ 16px
$break-extra-large: 80rem; // >= 1280px @ 16px
$break-largest: 90rem; // >= 1440px @ 16px

// @include respond-to( );
@mixin respond-to( $condition ) {
  @if $condition == "initialize" { @media only screen and (width >= 1px) { @content; } }

  @if $condition == "small" { @media only screen and (min-width: $break-small) { @content; } }

  @if $condition == "medium" { @media only screen and (min-width: $break-medium) { @content; } }

  @if $condition == "large" { @media only screen and (min-width: $break-large) { @content; } }

  @if $condition == "extra-large" { @media only screen and (min-width: $break-extra-large) { @content; } }

  @if $condition == "largest" { @media only screen and (min-width: $break-largest) { @content; } }
}

// Box shadow
@mixin bs($bsval: 0 0 0.83em #333, $due: 0 0 0 transparent) {
  -moz-box-shadow: $bsval, $due;
  -webkit-box-shadow: $bsval, $due;
  box-shadow: $bsval, $due;
}

// Transitions
@mixin transition($transition: all linear 0.2s) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  -ms-transition: $transition;
  transition: $transition;
}

// Transforms
@mixin transform($transform: translate3d(0, 0, 0)) {
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}

.l-wrapper h2,
.l-wrapper h4,
.l-wrapper a {
  text-decoration: none;
}

.m-article-card__picture {
  position: relative;
  height: 200px;
  border-radius: 10px 10px 0 0;
  background-color: var(--secondary-subtle-color);
  overflow: hidden;

  @include transform(translateZ(0));

  @include respond-to("medium") {
    height: 220px;
  }
}

.m-article-card__author {
  position: absolute;
  top: $mobile-space;
  left: $mobile-space;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  z-index: 2;

  @include transition(all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1));

  @include respond-to("medium") {
    top: 25px;
    left: 25px;
  }

  div {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid $white;
    background-color: $white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.m-article-card__info {
  flex: 1;
  position: relative;
  padding-top: 48px;
  height: 200px;
  overflow: hidden;
  border-radius: 0 0 10px 10px;
  background-color: var(--background-color);

  @include respond-to("medium") {
    padding-top: 53px;
  }
}

.m-article-card__title {
  color: var(--titles-color);
  letter-spacing: 0.4px;
  line-height: 1.3;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
}

.m-article-card {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 20px;
  height: 400px;
  background-color: var(--background-color);
  border-radius: 10px;
  border: 1px solid var(--secondary-border-color);
  z-index: 1;

  @include transition (all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1));

  &::before {
    content: "";
    position: absolute;
    inset: 10px 10px 0;
    border-radius: 10px;

    @include bs(var(--article-shadow-normal));
    @include transition(all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1));
  }

  &:hover {
    @include transform(translateY(-5px));

    &::before {
      @include bs(var(--article-shadow-hover));
    }

    .m-article-card__author {
      @include bs(0 4px 8px rgba(0, 0, 0, 0.3));
    }
  }

  @include respond-to("medium") {
    width: calc((100% / 2) - 20px);
    height: 420px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
  }

  @include respond-to("large") {
    width: calc((100% / 3) - 40px);
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
  }

  &.no-picture {
    .m-article-card__picture {
      height: 85px !important;
    }

    .m-article-card__info {
      background-color: var(--secondary-subtle-color);
    }

    .m-article-card__title {
      line-height: 1.4;
      font-size: 1.625rem;
    }
  }
}

.m-article-card__picture-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.m-article-card__picture-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.m-article-card__tag {
  position: absolute;
  top: $mobile-space;
  left: $mobile-space;
  right: $mobile-space;
  color: var(--link-color);
  letter-spacing: 0.2px;
  line-height: 1.3;
  font-size: 0.875rem;
  font-weight: 600;

  @include respond-to("medium") {
    top: 25px;
    left: 25px;
  }
}

.m-article-card__info-link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0 $mobile-space $mobile-space $mobile-space;

  @include respond-to("medium") {
    padding: 0 25px 25px;
  }
}

.m-article-card__excerpt {
  display: block;
  position: relative;
  overflow: hidden;
  height: 100%;
  color: var(--titles-color);
  letter-spacing: 0.3px;
  line-height: 1.5;
  font-size: 1rem;
}

.m-featured-article__ribbon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 26px;
  right: $mobile-space;
  width: 24px;
  height: 24px;
  color: $black;
  background-color: $white;
  border-radius: 50%;
  z-index: 2;

  @include respond-to("medium") {
    justify-content: flex-start;
    top: 47px;
    right: 40px;
    width: auto;
    height: 22px;
    padding: 0 7px;
    font-size: 0.875rem;
    font-weight: 600;
    border-radius: 15px;
  }

  span {
    display: inline-block;
  }

  span:first-of-type {
    @include respond-to("medium") {
      font-size: 0.75rem;
      margin-right: 4px;
    }
  }

  span:last-of-type {
    display: none;

    @include respond-to("medium") {
      display: block;
    }
  }
}

.m-article-card__timestamp {
  display: flex;
  align-items: center;
  color: var(--titles-color);
  letter-spacing: 0.2px;
  font-size: 0.875rem;

  span:nth-child(2) {
    padding: 0 10px;
  }
}

.m-featured-article__picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $black;
  z-index: 1;

  div {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.7;
  }
}

.m-featured-article__author {
  display: block;
  width: 35px;
  height: 35px;
  background-color: $white;
  border: 2px solid $white;
  border-radius: 50%;
  margin-bottom: 20px;

  @include transition(all 0.25s cubic-bezier(0.02, 0.01, 0.47,1));

  div {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
  }
}

.m-featured-article {
  position: relative;
  height: 100%;
  overflow: hidden;
  background-color: var(--primary-subtle-color);
  z-index: 1;

  &:hover {
    .m-featured-article__author {
      @include bs(0 4px 8px rgba(0, 0, 0, 0.3));
    }
  }

  &.no-picture {
    .m-featured-article__picture {
      background-color: var(--primary-subtle-color);
    }
  }
}

.m-featured-article__meta {
  position: absolute;
  top: $mobile-space;
  left: $mobile-space;
  z-index: 4;

  @include respond-to("medium") {
    top: 40px;
    left: 40px;
  }
}

.m-featured-article__tag {
  color: $white;
  letter-spacing: 0.3px;
  font-weight: 700;
  font-size: 1rem;
}

.m-featured-article__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 120px $mobile-space $mobile-space $mobile-space;
  position: relative;
  z-index: 3;

  @include respond-to("medium") {
    padding: 125px 40px 40px;
  }
}

.m-featured-article__title {
  color: $white;
  letter-spacing: 0.4px;
  line-height: 1.3;
  font-size: 1.625rem;
  font-weight: 600;
  margin: 0;

  @include respond-to("medium") {
    letter-spacing: 0.5px;
    font-size: 2.25em;
    max-width: 80%;
  }
}

.m-featured-article__timestamp {
  display: flex;
  align-items: center;
  color: $white;
  letter-spacing: 0.2px;
  font-size: 0.875rem;

  span:nth-child(2) {
    padding: 0 10px;
  }
}

.m-featured-slider.swiper {
  position: relative;
  overflow: hidden !important;
  height: 350px;
  margin: -40px -#{$mobile-space} 40px;

  @include transition(all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1));

  &:hover {
    @include respond-to("medium") {
      @include transform(translateY(-5px));
      @include bs(var(--article-shadow-hover));
    }
  }

  @include respond-to("medium") {
    width: 100%;
    height: 420px;
    margin: -40px 10px 20px;
    border-radius: 10px;
  }

  @include respond-to("large") {
    width: calc(100% - (100% / 3) - 40px);
    margin: 0 20px 40px;
    overflow: unset;
  }
}

.m-featured-slider:not(:root:root) {
  overflow: hidden !important;
}

.m-featured-slider__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 100%;

  @include respond-to("medium") {
    border-radius: 10px;
  }
}

.m-featured-slider__list__item {
  height: 100%;
  overflow: hidden;

  @include respond-to("medium") {
    border-radius: 10px;
  }
}

.l-grid {
  padding-bottom: 20px;

  @include respond-to("medium") {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }

  @include respond-to("extra-large") {
    margin: 0 -20px;
  }

  &.centered {
    @include respond-to("medium") {
      justify-content: center;
    }
  }
}

/* Icons */

.m-icon-button {
  color: var(--titles-color);
  font-size: 1.125rem;
  border: 0;
  outline: 0;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  background-color: transparent;

  @extend .content-centered !optional;
  @extend .no-appearance !optional;
  @extend .focusable !optional;

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }

  &.in-featured-articles {
    position: absolute;
    color: $white;
    font-size: 0.875rem;
    width: 40px;
    height: 40px;
    bottom: 5px;
    z-index: 2;

    @include respond-to("medium") {
      bottom: 26px;
    }

    &.swiper-button-prev {
      right: 56px;

      @include respond-to("medium") {
        right: 76px;
      }
    }

    &.swiper-button-next {
      right: 16px;

      @include respond-to("medium") {
        right: 36px;
      }
    }
  }
}