{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-10 col-xl-8">
    <article>
      <div class="blog-header">
		{{ if .Site.Params.options.breadCrumb -}}
		<br>
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				{{ partial "main/breadcrumb" . -}}
				<li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
			</ol>
		</nav>
		{{ end }}
        <h1>{{ .Title }}{{ with .Params.emoji -}}&nbsp;{{ . | emojify }}{{ end -}}</h1>
      </div>
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      {{ .Content }}
    </article>
  </div>
</div>
{{ end }}
{{ define "sidebar-footer" }}
<section class="section section-sm mt-n5 mb-3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10 col-xl-8">
        {{ partial "sidebar/newsletter.html" . -}}
      </div>
    </div>
  </div>
</section>
{{ end }}