$main-color: #2f288a;

@mixin desktop {
  @media (max-width: 991px) {
    @content;
  }
}

.single.home {
  .arriba {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .banner {
    min-height: 92vh;

    @media screen and (max-width: 900px) {
      h1,
      .lead,
      p.meta {
        text-align: left;
      }
    }
  }
}

.hero {
  &_footer-svg {
    bottom: 4vw;
    left: -7vw;
    animation: move-top 5s infinite linear;

    @media screen and (max-width: 1475px) {
      display: none;
    }
  }

  &_figure {
    width: 90%;
    border-radius: 20px;

    .img-hero-mask {
      -webkit-mask: url("/images/shape/hero-mask-svg.png");
      mask: url("/images/shape/hero-mask-svg.png");
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-size: contain;
      mask-size: contain;
      -webkit-mask-position: center center;
      mask-position: center center;
    }

    .figure-svg {
      top: -55px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      z-index: -1;
      height: 150px;
      animation: move-left 5s infinite linear;
    }

    &-popup {
      bottom: 80px;
      left: 0;
      transform: translateX(-50%);
      transition: all 0.3s ease;

      @include desktop {
        bottom: -40px;
        left: 50%;
        transform: translateX(-50%);
      }

      .thumb {
        height: 160px;
        width: 250px;
        border-radius: 20px;

        &::before {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background: rgba(0, 0, 0, 0.6);
          z-index: 1;
        }

        img {
          object-fit: cover;
        }
      }

      .popup-button {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 60px;
        width: 60px;
        background: #fff;
        z-index: 2;
        transition: all 0.3s ease;

        svg {
          top: 50%;
          left: 55%;
          transform: translate(-50%, -50%);
          transition: all 0.3s ease;

          path {
            fill: $main-color;
          }
        }

        &:hover {
          background-color: $main-color;

          svg {
            path {
              fill: #fff;
            }
          }
        }
      }

      &:hover {
        .popup-button {
          transform: translate(-50%, -50%) scale(1.1);
        }
      }
    }
  }
}

@keyframes move-left {
  0% {
    transform: translateX(-50%);
  }

  50% {
    transform: translateX(-57%);
  }
}

@keyframes move-top {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(15px);
  }
}

// Lista de miembros del CAE

.miembro-cae {
  width: 83px;
  height: 83px;
  background: #eee no-repeat center;
  background-size: cover;
}

#David {
  background-image: url("/images/member/david.webp");
}

#Sergio {
  background-image: url("/images/member/sergio.webp");
}

#Alvaro {
  background-image: url("/images/member/alvaro.webp");
}

#Liuba {
  background-image: url("/images/member/liuba.webp");
}

#Andrea {
  background-image: url("/images/member/andrea.webp");
}

#Richard {
  background-image: url("/images/member/richard.webp");
}

#Victor {
  background-image: url("/images/member/victor.webp");
}
