/* Reusable classes missing from Bootstrap */

.outline-none {
  outline: none !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.center-global {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.object-fit-cover {
  object-fit: cover !important;
}

.transition-all {
  transition: all 0.3s ease-in-out !important;
}

.full-height {
  min-height: 80vh;
}

.current-color {
  color: currentColor !important;
  fill: currentColor !important;
}