.list.cursos h4,
.list.guias h4 {
  margin: 1rem 0;

  a {
    color: var(--bs-body-color);
  }
}

.list.cursos h1,
.list.cursos p,
.list.guias h1,
.list.guias p {
  @media screen and (max-width: 768px) {
    text-align: left !important;
  }
}

.list.guias,
.list.cursos {
  p {
    margin-bottom: 0;
  }

  h4 {
    margin-top: 0;
  }

  .card span {
    margin-bottom: 1rem;
  }

  .card {
    min-height: 10.5rem;
    display: flex;
    justify-content: center;
    padding: 2rem 3.3rem;
  }
}