.contenedor {
  padding-top: 0em;
  max-width: 10em;
  width: 100%;
  margin: 0 auto;
}

.instafeeds {
  width: 300%;

  .contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    justify-content: center;
    align-items: center;
  }

  .card {
    border-radius: 5px;
    padding-bottom: 0em;

    &-img {
      position: relative;
      display: block;
      width: 100%;
      padding-top: 100%;
      background: #ffffff;

      img {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .main {
    .container {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 1rem;
    }
  }
}
