.nami>* {
  width: 33%!important;
  margin: 0em;
}

.instafeeds {
  width: 92%;
  padding-top: 1em;
  padding-left: 1em;
}

.instafeeds > .row>* {
  padding-right: 0em;
  padding-left: 1em;
}

#instafeed .card {
  margin-top: 0em;
  margin-bottom: 1em!important;
  width: 100%;
}

#instafeed {

  .contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
  }

  .card {
    border-radius: 5px;
    padding-bottom: 0em;

    &-img {
      position: relative;
      display: block;
      width: 100%;
      padding-top: 100%;
      background: #ffffff;

      img {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .main {
    .container {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 1rem;
    }
  }
}
