table {
  @extend .table;

  margin: 1rem 0 2rem;

  .editorial {
    font-size: 0.8em;
  }

  .title {
    margin-top: -1px;
  }

  thead {
    position: sticky;
    top: 0;

    @include media-breakpoint-up(md) {
      // suggested in https: //btxx.org/posts/Please_Make_Your_Table_Headings_Sticky/
      top: 59px; // doks-subnavbar height is 59px (check _header.scss)
    }
  }
}