<!doctype html>
<html lang="{{ .Site.LanguageCode | default "es" }}">
  {{ partial "head/head.html" . }}
  {{ partial "head/body-class.html" . -}}
  <body class="{{ delimit (.Scratch.Get "class") " " }}">
    {{ partial "header/header.html" . }}
    {{ $classes := .Scratch.Get "class" }}
    <div class="wrap container-fluid" role="document">
      <div class="content">
        {{ block "main" . }}{{ end }}
      </div>
    </div>
    {{ block "sidebar-prefooter" . }}{{ end }}
    {{ block "sidebar-footer" . }}{{ end }}
    {{ partial "footer/footer.html" . }}
    {{ partial "footer/script-footer.html" . }}
  </body>
</html>