html,
body {
  color: #dee2e6;
  font-size: 16px;
  font-family: 'Jost', Helvetica Neue, Helvetica, Arial;
  background-color: #212529;
}

/* Netlify Logo */
.css-15mesr9-IconWrapper-NetlifyCreditIcon {
  display: none!important;
}

/* Button Logon */
.css-1jhr3xj-LoginButton-button-default-gray-disabled {
  margin-top: 1.5rem;
}

span :first-child {
  position: absolute;
  top: -10rem;
  left: 0;
  right: 0;
  bottom: 0;
  width: 6.25rem;
  height: 6.25rem;
  margin: auto;
}