/* Espacio entre botones */

.pdf-head .btn {
  margin: 0 1rem 0 1rem;
}

.paginas {
  display: table-cell;
  vertical-align: middle;
  margin: auto 0 auto 0;

  span {
    display: inline-block;
  }
}