<!-- SCSS-->
{{ $sass := resources.Get "scss/components/_tweets.scss" }}
{{ $style := $sass | resources.ToCSS | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}"> 
<h2 class="h3 mt-3 text-center">Tuits</h2>
<div class="tweet-grid">                
            <div class="tweet-card">
                <div class="tweet-icon">
                    {{ partial "svg/twitter.svg" }}
                </div>
                <div class="tweet-user">
                    <img src="/images/cae.jpg">
                    <div class="tweet-details">
                        <div class="tweet-name">CAE Física</div>
                        <div class="tweet-handle">@caefisica</div>
                    </div>
                </div>
                <div class="tweet-content">
                    ¡Ya aperturamos las inscripciones para los cursos de verano! Los cursos a dictar por el CAE son:
                    <ul>
                        <li>Introducción a Python a cargo de Alvaro Siesquén</li>
                        <li>Curso básico de Cálculo a cargo de Sergio Cordero</li>
                    </ul>
                </div>
            </div>
            <div class="tweet-card" id="hallo">
                <div class="tweet-icon">
                    {{ partial "svg/twitter.svg" }}
                </div>
                <div class="tweet-user">
                    <img src="/images/cae.jpg">
                    <div class="tweet-details">
                        <div class="tweet-name">CAE Física</div>
                        <div class="tweet-handle">@caefisica
                        </div>
                    </div>
                </div>
                <div class="tweet-content">
                    En el último año de la carrera de Física en la U. San Marcos tendrás que escoger una especialidad, pero ¿conoces qué se hace en cada una de ellas? 🤨
                    No importa si aún estás en tus primeros años, ir conociendo las sub especialidades en cada área de especialización te dará mayor seguridad al momento de elegir.
                    <p></p>
                </div>
            </div>
</div>