{{ define "main" }}
<section class="section container mt-n3 pb-5">
  <div class="row justify-content-center">
    <!--
    <div class="col">
      {{ partial "components/gallery.html" . -}}
    </div>
    -->
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.Lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="pregrado/semestre/1/CBO104/" role="button">Malla curricular</a>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}

<section class="section section-md mb-5">
  <div class="container">
    <div class="row justify-content-center text-center mt-lg-3">
      <div class="col-lg-5">
        <h2 class="h4">Wikilinks</h2>
        <p>Una guía para el estudio complementario de las ciencias físicas enfocado a estudiantes sanmarquinos.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Club de lectura</h2>
        <p><a href="/blog/Club-de-Lectura/">Únete al club</a> el cual tiene como objetivo potenciar y ampliar los conocimientos de sus integrantes en diversas áreas.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Minicursos de verano</h2>
        <p>Cursos y asesorías que te pueden servir durante tus estudios universitarios. Estos son dictados por nuestros miembros.</p>
      </div>
    </div>
  </div>
</section>

<div class="row-auto text-center" id="powd">
  {{ partial "main/gallery.html" . -}}
</div>

<div class="d-flex justify-content-start mb-3">
  <div class="bg-dots"></div>
</div>
{{ end }}

{{ define "sidebar-footer" }}

<section class="section section-sm mt-3 pt-3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10 col-xl-8">
        <h2 class="h3 mt-3 text-center">Blog</h2>
        <div class="card-list">
        {{ range first 3 (where .Site.RegularPages.ByDate.Reverse "Section" "blog")  -}}
        <div class="card">
          <div class="card-body">
            <h3><a class="stretched-link text-body" href="{{ .RelPermalink }}">{{ .Params.title }}</a></h3>
            <p>{{ .Params.lead | safeHTML }}</p>
            {{ partial "main/blog-meta.html" . -}}
          </div>
        </div>
        {{ end -}}
        </div>
      </div>
      <div class="col-md-12 col-lg-10 col-xl-8">
        <h2 class="h3 mt-3 text-center">Redes sociales</h2>
        {{ partial "components/instagram.html" . -}}
      </div>
    </div>
  </div>
</section>

{{ partial "main/miembros.html" . -}}

<section class="section section-sm mt-n3 mb-3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10 col-xl-8">
        {{ partial "sidebar/newsletter.html" . -}}
      </div>
    </div>
  </div>
</section>

<section class="section apoyo mt-3 bg-light">
  <div class="container">
    <h2 class="h3 mt-0 text-center">¿Deseas participar?</h2>
    <p class="text-center">¿Eres de base mayor y cuentas con experiencia sobre el ámbito académico? ¿Hay un buen libro que quieres recomendar? Puedes contactarnos sin compromiso.</p>
    <p class="text-center mb-0 mt-4"><a class="btn btn-primary px-4 mb-2" href="https://github.com/caefis/discusion/labels/sugerencia" role="button">Quiero dar una recomendación</a><a class="btn btn-outline-primary px-4 ms-2 mb-2" href="{{ "contacto/" | relURL }}" role="button">Contáctanos</a></p>
  </div>
</section>

{{ end }}
