{{ define "main" }}
{{ partial "components/welcome.html" . -}}
{{ end }}

{{ define "sidebar-prefooter" }}
{{/* partial "main/featured-courses.html" . -*/}}

<div class="d-flex justify-content-start">
  <div class="bg-dots"></div>
</div>

{{ partial "components/features.html" . -}}

<!--
<section class="section section-md mb-5">
  <div class="container">
    <div class="row justify-content-center text-center mt-lg-3">
      <div class="col-lg-5">
        <h2 class="h4">Bibliotecas</h2>
        <p>
          Accede a nuestra biblioteca de recursos digitales con recomendaciones de profesores y estudiantes sanmarquinos.
        </p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Guías de estudio</h2>
        <p>
          ¿No estás seguro de qué libro usar para estudiar un curso en particular? Tenemos una serie de guías para cada curso.
        </p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Notas de clase</h2>
        <p>
          Notas de clase de profesores sanmarquinos con información adicional transcritas en formato $\LaTeX$ (web y PDF).
        </p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Noticias</h2>
        <p>
          Información actualizada en tiempo real sobre nuevas convocatorias, becas y <em>workshops</em> de diversas fuentes.
        </p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Talleres y minicursos</h2>
        <p>
          Talleres y minicursos para ayudarte a adquirir nuevas habilidades y conocimientos en diversas áreas de la física.
        </p>
      </div>
    </div>
  </div>
</section>
-->

{{ partial "components/latest_posts.html" . -}}

<section class="section apoyo mt-3 bg-light">
  <div class="container">
    <h2 class="h3 mt-0 text-center">¿Deseas colaborar?</h2>
    <p class="text-center">
      Si eres estudiante de segundo año o superior y deseas colaborar con nuestro proyecto, ¡nos gustaría contar contigo! Puedes editar directamente el contenido de la página, o bien, puedes contactarnos a través de nuestro correo.
    </p>
    <p class="text-center mb-0 mt-4">
      <a class="btn btn-primary px-4 mb-2" href="https://github.com/caefis/discusion/labels/sugerencia" role="button">
        Quiero dar una recomendación
      </a>
      <a class="btn btn-outline-primary px-4 ms-2 mb-2" href="{{ "contacto/" | relURL }}" role="button">
        Contáctanos
      </a>
    </p>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}

<section class="section section-sm mt-4 mt-lg-5 mb-4 mb-lg-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10 col-xl-8">
        <h2 class="h3 mt-3 text-center">Blog</h2>
        <div class="card-list">
        {{ range first 3 (where .Site.RegularPages.ByDate.Reverse "Section" "blog")  -}}
        <div class="card">
          <div class="card-body">
            <h3><a class="stretched-link text-body" href="{{ .RelPermalink }}">{{ .Params.title }}{{ with .Params.emoji -}}&nbsp;{{ . | emojify }}{{ end -}}</a></h3>
            <p>{{ .Params.lead | safeHTML }}</p>
            {{ partial "main/blog-meta.html" . -}}
          </div>
        </div>
        {{ end -}}
        </div>
      </div>
    </div>
  </div>
</section>

{{ partial "components/miembros.html" . -}}

<section class="section section-sm mt-3 mb-3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10 col-xl-8">
        {{ partial "sidebar/newsletter.html" . -}}
      </div>
    </div>
  </div>
</section>

{{ end }}
