{{ define "main" }}
<section class="section">
  <div class="container banner">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-7 text-center text-lg-start">
        <div class="hero_footer-svg">
          <img src="/images/shape/figure-svg.svg" alt="Textura a modo de adorno." />
        </div>
        <h1 class="mb-4">{{ i18n "título" }}</h1>
        <p class="lead mb-4">{{ .Params.Lead | safeHTML }}</p>
        <form class="search-wrapper home-search" action="{{ `search` | relLangURL }}">
          <div id="docsearch"></div>
        </form>
        <p class="meta mt-3">{{ i18n "pie_de_pagina" }} {{ .Site.Params.titleAddition }}</a></p>
      </div>
      <div class="col-lg-7 galnew">
        {{ with .Site.Data.fixes.frontpage }}
        <div class="hero_figure">
          <div class="figure-svg">
            <img src="/images/shape/figure-svg.svg" alt="figure-svg" />
          </div>
          <img class="img-hero-mask" src="{{ .image | absURL }}" alt="hero-image"/>

          {{ if .videoURL }}
          <div class="hero_figure-popup">
            <div class="thumb">
              <img src="{{ .videoThumb }}" alt="popup" />
            </div>

            <a href="{{ .videoURL }}" type="button" class="popup-button text-center big" aria-label="Youtube">
              <svg xmlns="http://www.w3.org/2000/svg" width="21" height="24" viewBox="0 0 21 24">
                <path d="M17.961 10.264a2 2 0 010 3.473L2.992 22.29A2 2 0 010 20.554V3.446A2 2 0 012.992 1.71z"
                  data-name="Polygon 4" />
              </svg>
            </a>
          </div>
          {{ end }}
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
{{ partial "main/featured-courses.html" . -}}
<!--
<div class="d-flex justify-content-start mb-3">
  <div class="bg-dots"></div>
</div>
-->

<section class="section section-md mb-5 arriba">
  <div class="container">
    <div class="row justify-content-center text-center mt-lg-3">
      <div class="col-lg-5">
        <h2 class="h4">{{ i18n "biblioteca" }}</h2>
        <p>{{ i18n "biblioteca_descripcion" }}</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">{{ i18n "guias" }}</h2>
        <p>{{ i18n "guias_descripcion" }}</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">{{ i18n "articulos" }}</h2>
        <p>{{ i18n "articulos_descripcion" }}</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">{{ i18n "noticias" }}</h2>
        <p>{{ i18n "noticias_descripcion" }}</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">{{ i18n "minicursos" }}</h2>
        <p>{{ i18n "minicursos_descripcion" }}</p>
      </div>
    </div>
  </div>
</section>
<section class="section apoyo mt-3 bg-light">
  <div class="container">
    <h2 class="h3 mt-0 text-center">{{ i18n "contribuir" }}</h2>
    <p class="text-center">{{ i18n "contribuir_descripcion" }}</p>
    <p class="text-center mb-0 mt-4"><a class="btn btn-primary px-4 mb-2" href="https://github.com/caefis/discusion/labels/sugerencia" role="button">{{ i18n "boton" }}</a><a class="btn btn-outline-primary px-4 ms-2 mb-2" href="{{ "contacto/" | relURL }}" role="button">{{ i18n "contacto" }}</a></p>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}

<section class="section section-sm mt-4 mt-lg-5 mb-4 mb-lg-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10 col-xl-8">
        <h2 class="h3 mt-3 text-center">Blog</h2>
        <div class="card-list">
        {{ range first 3 (where .Site.RegularPages.ByDate.Reverse "Section" "blog")  -}}
        <div class="card">
          <div class="card-body">
            <h3><a class="stretched-link text-body" href="{{ .RelPermalink }}">{{ .Params.title }}{{ with .Params.emoji -}}&nbsp;{{ . | emojify }}{{ end -}}</a></h3>
            <p>{{ .Params.lead | safeHTML }}</p>
            {{ partial "main/blog-meta.html" . -}}
          </div>
        </div>
        {{ end -}}
        </div>
      </div>
    </div>
  </div>
</section>

{{ if eq .Site.Language.Lang "es" }}
{{ partial "components/miembros.html" . -}}
{{ else }}
{{ partial "components/miembros.en.html" . -}}
{{ end }}

<section class="section section-sm mt-3 mb-3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10 col-xl-8">
        {{ partial "sidebar/newsletter.html" . -}}
      </div>
    </div>
  </div>
</section>

{{ end }}
