{{ if .Site.Params.alert -}}
  {{ partial "header/alert.html" . }}
{{ end -}}

<div class="header-bar"></div>

<header class="navbar navbar-expand-lg navbar-light doks-navbar">
  <nav class="container-fluid flex-wrap flex-lg-nowrap" aria-label="Navegación principal">
    <a class="navbar-brand order-0" href="{{ "/" | relLangURL }}" aria-label="{{ .Site.Params.Title }}">
      {{ .Site.Params.Title }} <span class="text-muted">-</span> <span class="subtitle-brand">{{ .Site.Params.Subtitle }} </span>
    </a>

    <button class="btn btn-menu d-block d-lg-none order-5" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDoks" aria-controls="offcanvasDoks" aria-label="Abrir menú principal">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
    </button>

    <div class="offcanvas offcanvas-end border-0 py-lg-1" tabindex="-1" id="offcanvasDoks" data-bs-backdrop="true" aria-labelledby="offcanvasDoksLabel">
      <div class="header-bar d-lg-none"></div>
      <div class="offcanvas-header d-lg-none">
        <h2 class="h5 offcanvas-title ps-2" id="offcanvasDoksLabel"><a class="text-dark" href="{{ "/" | relURL }}">{{ .Site.Params.Title }} <span class="text-primary subtitle-brand">{{ .Site.Params.Subtitle }} </span> </a></h2>
        <button type="button" class="btn-close text-reset me-2" data-bs-dismiss="offcanvas" aria-label="Cerrar menú principal"></button>
      </div>
      <div class="offcanvas-body px-4">
        <h3 class="h6 text-uppercase mb-3 d-lg-none">Categorías</h3>
        <ul class="nav flex-column flex-lg-row ms-lg-n3">
          {{- $current := . -}}
          {{ range .Site.Menus.main -}}
            {{- $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) -}}
            {{- $active = or $active (eq .Name $current.Title) -}}
            {{- $active = or $active (and (eq .Name "Cursos") (eq $current.Section "unmsm")) -}}
            {{- $active = or $active (and (eq .Name "Apuntes") (eq $current.Section "apuntes")) -}}
            {{- $active = or $active (and (eq .Name "Experimental") (eq $current.Section "experimental" "types" "functionalities")) -}}
            {{- $active = or $active (and (eq .Name "Blog") (eq $current.Section "blog" "contributors")) -}}
            {{ if .HasChildren }}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle ps-0 py-1" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ .Name }}
                  <span class="dropdown-caret"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-main shadow rounded border-0" aria-labelledby="navbarDropdownMenuLink">
                  {{ range .Children -}}
                  {{- $active = eq .Name $current.Title -}}
                    <li>
                      <a class="dropdown-item{{ if $active }} active{{ end }}" href="{{ .URL | relLangURL }}"{{ if $active }} aria-current="true"{{ end }}>{{ .Name }}</a>
                    </li>
                  {{ end -}}
                </ul>
              </li>
            {{ else }}
              <li class="nav-item">
                <a class="nav-link ps-0 py-1{{ if $active }} active{{ end }}" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
              </li>
            {{ end }}
          {{ end -}}
        </ul>
        <hr class="text-black-50 my-4 d-lg-none">
        <h3 class="h6 text-uppercase mb-3 d-lg-none">Redes sociales</h3>
        <ul class="nav flex-column flex-lg-row ms-lg-auto me-lg-n5 pe-lg-2">
          {{ range .Site.Menus.social -}}
            <li class="nav-item">
              <a class="nav-link ps-0 py-1" href="{{ .URL | relURL }}">{{ .Pre | safeHTML }}<small class="ms-2 d-md-none">{{ .Name | safeHTML }}</small></a>
            </li>
          {{ end -}}
        </ul>
      </div>
    </div>

    {{ if .Site.Params.options.darkMode -}}
    <button id="mode" class="btn btn-link order-md-1" type="button" aria-label="Alternar el modo de interfaz de usuario">
      <span class="toggle-dark"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-moon"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg></span>
      <span class="toggle-light"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sun"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg></span>
    </button>
    {{ end -}}
  </nav>
</header>

{{ if eq .Section "unmsm" "apuntes" -}}
<nav class="doks-subnavbar py-2 sticky-lg-top" aria-label="Secondary navigation">
  <div class="container-fluid d-flex align-items-md-center">

    <div class="d-inline-flex me-auto placeholder-glow">
      <div id="search-placeholder" aria-hidden="true">
        <a href="#" tabindex="-1" class="btn btn-light disabled placeholder"></a>
      </div>
      <div id="docsearch"></div>
    </div>

    {{ if eq .Site.Params.options.docsVersioning true -}}
    <div class="dropdown ms-3">
      <button class="btn btn-doks-light dropdown-toggle" id="doks-versions" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" aria-label="Toggle version menu">
        <span class="d-none d-lg-inline">UNMSM</span>
      </button>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="doks-versions">
        <li><a class="dropdown-item current" aria-current="true" href="{{ "unmsm/" | relLangURL }}">UNMSM</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/">PUCP</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/i/">Todas las universidades</a></li>
      </ul>
    </div>
    {{ else -}}
      <span class="navbar-text fs-6 d-none d-sm-block">v0.8</span>
    {{ end -}}

    <button class="btn doks-sidebar-toggle d-lg-none ms-3 order-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#doks-docs-nav" aria-controls="doks-docs-nav" aria-expanded="false" aria-label="Toggle documentation navigation">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="doks doks-expand" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><title>Expand</title><polyline points="7 13 12 18 17 13"></polyline><polyline points="7 6 12 11 17 6"></polyline></svg>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="doks doks-collapse" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><title>Collapse</title><polyline points="17 11 12 6 7 11"></polyline><polyline points="17 18 12 13 7 18"></polyline></svg>
    </button>

  </div>
</nav>

<div class="container-xxl">
  <aside class="doks-sidebar">
    <nav id="doks-docs-nav" class="collapse d-lg-none" aria-label="Tertiary navigation">
      {{ partial "sidebar/docs-menu.html" . }}
    </nav>
  </aside>
</div>
{{ end -}}

{{ if eq .Section "tutorial" -}}
<nav class="doks-subnavbar py-2 sticky-lg-top" aria-label="Secondary navigation">
  <div class="container-fluid d-flex align-items-md-center">

    <nav class="nav">
      {{ range .Site.Menus.secondary -}}
        <a class="nav-link text-dark" href="{{ .URL | relURL }}">{{ .Name | safeHTML }}</a>
      {{ end -}}
    </nav>

    <button class="btn doks-sidebar-toggle d-lg-none ms-auto order-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#doks-docs-nav" aria-controls="doks-docs-nav" aria-expanded="false" aria-label="Toggle tutorial navigation">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="doks doks-expand" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><title>Expand</title><polyline points="7 13 12 18 17 13"></polyline><polyline points="7 6 12 11 17 6"></polyline></svg>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="doks doks-collapse" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><title>Collapse</title><polyline points="17 11 12 6 7 11"></polyline><polyline points="17 18 12 13 7 18"></polyline></svg>
    </button>

  </div>
</nav>

<div class="container-xxl">
  <aside class="doks-sidebar">
    <nav id="doks-docs-nav" class="collapse d-lg-none" aria-label="Navegación terciaria">
      {{ partial "sidebar/tutorial-menu.html" . }}
    </nav>
  </aside>
</div>
{{ end -}}

{{ if or (eq .Section "experimental") (eq .Data.Singular .Kind "type") (eq .Data.Singular .Kind "functionality") -}}
<nav class="doks-subnavbar py-2 sticky-lg-top" aria-label="Navegación terciaria">
  <div class="container-fluid d-flex align-items-md-center">

    <nav class="nav">
      {{ range .Site.Menus.tertiary -}}
        <a class="nav-link text-dark" href="{{ .URL | relURL }}" target="_blank" rel="noopener">{{ .Name | safeHTML }}</a>
      {{ end -}}
    </nav>

    <button class="btn doks-sidebar-toggle d-lg-none ms-auto order-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#doks-docs-nav" aria-controls="doks-docs-nav" aria-expanded="false" aria-label="Consultar las categorías de la sección Experimental">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="doks doks-expand" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><title>Expand</title><polyline points="7 13 12 18 17 13"></polyline><polyline points="7 6 12 11 17 6"></polyline></svg>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="doks doks-collapse" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><title>Collapse</title><polyline points="17 11 12 6 7 11"></polyline><polyline points="17 18 12 13 7 18"></polyline></svg>
    </button>

  </div>
</nav>

<div class="container-xxl">
  <aside class="doks-sidebar">
    <nav id="doks-docs-nav" class="collapse d-lg-none" aria-label="Navegación terciaria">
      {{ partial "sidebar/showcase-menu.html" . }}
    </nav>
  </aside>
</div>
{{ end -}}