<!doctype html>
<html lang="{{ .Site.LanguageCode | default "es" }}">
  <link rel="preload" href="{{ "css/biblioteca.css" | relURL }}" as="style">
  <link rel="stylesheet" href="{{ "css/biblioteca.css" | relURL }}"/>
  {{ partial "head/head.html" . }}
  {{ if eq .Kind "home" -}}
    {{ .Scratch.Set "class" "home" -}}
  {{ else if eq .Kind "404" -}}
    {{ .Scratch.Set "class" "error404" -}}
  {{ else if eq .Kind "page" -}}
    {{ .Scratch.Set "class" .Type -}}
    {{ .Scratch.Add "class" " single" -}}
  {{ else -}}
    {{ .Scratch.Set "class" .Type -}}
    {{ .Scratch.Add "class" " list" -}}
  {{ end -}}
  <body class="{{ .Scratch.Get "class" }}">
    {{ partial "header/header.html" . }}
    <div id="container" class="biblio">
      <iframe width="100%" height="100%" src="https://d.cae.workers.dev/0:/" frameborder="0" allowfullscreen="" style="position:absolute; top:0; left: 0"></iframe>
    </div>
    {{ block "sidebar-prefooter" . }}{{ end }}
    {{ block "sidebar-footer" . }}{{ end }}
    {{ partial "footer/footer.html" . }}
    {{ if and .IsHome .Site.Params.alert }}
      {{ partial "footer/alert.html" . }}
    {{ end }}
    {{ partial "footer/script-footer.html" . }}
  </body>
</html>