<aside class="position-relative mt-4 parent-box mx-n2r">
    <div
        class="child-box position-absolute top-0 start-0 translate-middle p-2 rounded-circle">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round">
            <circle cx="12" cy="12" r="10"></circle>
            <line x1="12" y1="16" x2="12" y2="12"></line>
            <line x1="12" y1="8" x2="12.01" y2="8"></line>
        </svg>
    </div>
    {{ with .Get "text" }}
        <div class="w-100">{{ . | safeHTML }}</div>
    {{ else }}
        {{ with .Inner }}
            <div class="w-100">{{ . | markdownify }}</div>
        {{ else }}
            {{ errorf "No valid text variable or Inner content given" }}
        {{ end }}
    {{ end }}
</aside>
